
/* ---------body style --------*/
body{
    font-family: 'Poppins', sans-serif;   
    margin: 0 auto;   
}

/* ---------Header section start --------*/
.banner{
    display: flex;
    width:90%;
    background: #161616;
    margin-left: 70px;
    border-radius: 40px;   
    
}
.banner .banner-text{
    width: 50%;
    color: aliceblue;
}
.banner .banner-img{
    width: 50%;
}
.banner-text{
    color: aliceblue;
    padding-left: 70px;
    padding-top: 50px;
}
.banner-tittle{
    font-size: 30px;
}
.banner-info{
    font-size: 15px;   
}
.banner-button button{
    height: 50px;
    width: 130px;
    border-radius: 10px;
    background-color: #DD0000;
    color: aliceblue;
    transition: width 2s;
}   
.banner-button button a{
    text-decoration: none;
    color: aliceblue;
}


.banner-img img{
    margin-top: 100px;
      
}
.banner-button button:hover{
    width: 300px;
}

/* ---------Header section end--------*/

/*-----------------------------------
--------Main section start-----------------*/
.container{
    display: flex;    
}
.menu{
    
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left:70px; ;
    width: 250px;
    height: 100px;
    background-color: #000000;
    padding-bottom: 150px;
}
.menu-item button{
    font-size:20px;
    width: 200px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.menu-item button a{
    text-decoration: none;
    color: #000;

}
.menu-item button:hover{
    background-color: #DD0000;
    color: aliceblue;
}
.main-container{
    margin-top: 100px;
    margin-left: 50px;  

}
.matches{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 24px;
    width:253px ;
    
}
.match-banner img{
    width:100%;
    border-radius: 10px;
}
.match{
    width: 240px;
    height: 350px;
    margin-left: 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}
.match-button{
    padding-left: 20px;
}
.match-button button{
    width: 100px;
    height: 30px;
    font-size: 15px;
}
.match-button button:hover{
    background-color: #DD0000;
    color: aliceblue;
}
.match-detail{
    padding: 20px;

}
.view-all button{
 width: 150px;
 height: 50px;
 background-color: #DD0000;
 color: aliceblue;
 font-size: 20px;
 margin-top: 50px;
 margin-left: 40%;
 border-radius: 10px;

}

/*-----------------------------------
--------Main section end-----------------*/

/*-----------------------------------
--------footer section start-----------------*/
footer{
    width:100%;
    background-color: #000000;
    margin-top: 100px;
    color: aliceblue;
    padding-top: 100px;
    padding-bottom: 100px;
}
.goal{
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
   
}
hr{
    width: 80%;
    align-items: center;
    height:1px;
}
.nav-neme{
    display: flex;
    justify-content: center;
   
}

.nav-item a{
    text-decoration: none;
    margin-left: 30px;
    color: aliceblue;
    

}
.nav-item a:hover{
    color: #DD0000;
}
/* social-media-icon-style*/
.social-media-icons{
     display:flex;
     justify-content: center;
     gap: 50px;
     padding-top: 50px;
}
.social-media-icons a{
    color: aliceblue;
    
}
.social-media-icons a:hover{
    color: #DD0000;
}
/* social-media-icon-style-end*/    
/*-----------------------------------
--------footer section end-----------------*/
