body{
    font-family: 'Poppins', sans-serif;   
}
/* ---------Header section start --------*/
.banner{
    display: flex;
    width: 90%;
    background: #161616;
    top: 38px;
    margin-left: 70px;
    border-radius: 40px;
    border: 1px solid #000000; 
}
.banner-text{
    color: aliceblue;
    padding-left: 70px;
    padding-top: 50px;
   margin-bottom: 0;

}
.banner-tittle{
    font-size: 36px;
}
.banner-info{
    font-size: 15px;   
}
.banner-button button{
    height: 50px;
    width: 130px;
    border-radius: 10px;
    background-color: #DD0000;
    color: aliceblue;
}
.banner-img img{
    padding-top: 100px;
    padding-right: 100px;   
}
/* ---------Header section end--------*/

