
/* ---------body style --------*/
body{
    font-family: 'Poppins', sans-serif;   
}
/* ---------Header section start --------*/
.banner{
    display: flex;
    width: 90%;
    background: #161616;
    top: 38px;
    margin-left: 70px;
    border-radius: 40px;
    border: 1px solid #000000; 
}
.banner-text{
    color: aliceblue;
    padding-left: 70px;
    padding-top: 50px;
   margin-bottom: 0;

}
.banner-tittle{
    font-size: 36px;
}
.banner-info{
    font-size: 15px;   
}
.banner-button button{
    height: 50px;
    width: 130px;
    border-radius: 10px;
    background-color: #DD0000;
    color: aliceblue;
    transition: width 2s;
    
}
.banner-img img{
    padding-top: 100px;
      
}
.banner-button button:hover{
    width: 300px;
}


/* ---------Header section end--------*/

/*-----------------------------------
--------Main section start-----------------*/
.container{
    display: flex;
    
}
.menu{
    
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left:70px; ;
    width: 250px;
    height: 100px;
    background-color: #000000;
    padding-bottom: 150px;
}
.menu-item button{
    font-size:20px;
    width: 200px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.menu-item button a{
    text-decoration: none;
    color: #000000;

}
.menu-item button:hover{
    background-color: #DD0000;
    color: aliceblue;
}
.main-container{
    margin-top: 100px;
    margin-left: 50px;  

}
.matches{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 24px;
    width:253px ;
    
}
.match-banner{
    display: flex;
    justify-content: center;
}
.match-banner img{
    width: 100px;
}
.match{
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.match-detail{
    padding: 20px;

}
/*-----------------------------------
--------Main section end-----------------*/

/*-----------------------------------
--------footer section start-----------------*/
footer{
    width:100%;
    background-color: #000000;
    margin-top: 100px;
    color: aliceblue;
    padding-top: 100px;
    padding-bottom: 100px;
}
.goal{
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
hr{
    width: 80%;
    align-items: center;
    height:1px;
}
.nav-neme{
    display: flex;
    justify-content: center;
   
}

.nav-item a{
    text-decoration: none;
    margin-left: 30px;
    color: aliceblue;
    

}
.nav-item a:hover{
    color: #DD0000;
}
/*-----------------------------------
--------footer section end-----------------*/



/*-----------------------------------
--------responsive design -----------------*/


/*-----------------------------------
--------responsive design for mobail -----------------*/
@media only screen and (max-width: 688px) {
    .banner, .container {
      display: grid;
      grid-template-columns: repeat(1,1fr);  
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
      border-radius:0;
    }
    .banner-img img{
      padding-left: 40px;
    }
    .container .menu{
      width:100%;
      align-items: center;
      margin: 0;
    }
    .main-container .matches{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      width: 100%;
      margin: 0;
      
    }
    .nav-neme {
      display: grid;
      grid-template-columns: repeat(1);
      justify-content: center;
    }
  }
  /*-----------------------------------
--------responsive design for tablet -----------------*/
  @media only screen 
   and (min-width : 668px) 
  and (max-width : 992px) {
    .container{
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
    .container .menu{
      display:grid;
      grid-template-columns: repeat(3,1fr);
      width: 90%;
      margin-top: 30px;
      border-radius: 20px;
      padding: 0;
     }
    .main-container .matches{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      width: 100%;
      margin: 0;  
   }
   .matches .match-detail{
    align-items: center;
   }
 }